doctype html
html
  title W3.CSS Template
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/lib/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-quarter img{margin-bottom: -6px; cursor: pointer}
    .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
  body.w3-light-grey
    // Navbar (sit on top)
    .w3-top
      .w3-navbar.w3-white.w3-wide.w3-padding-8.w3-card-2
        a.w3-bar-item.w3-button.w3-margin-left(href='#home') ShaadiWorks.com Gallery
        // Right-sided navbar links. Hide them on small screens
        .w3-right.w3-hide-small
          a.w3-bar-item.w3-button(href='/') About
          a.w3-bar-item.w3-button(href='/prev') Previous Work
          a.w3-bar-item.w3-button.w3-margin-right(href='/contact') Contact
    // Contact Section
    #contact.w3-container.w3-padding-64
      h1 Contact
      br
      p
        | We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.
      p.w3-text-blue-grey.w3-large
        b Catering Service, 42nd Living St, 43043 New York, NY
      p
        | You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:
    .w3-black.w3-center.w3-padding-24
      | Powered by
      a.w3-hover-opacity(href='https://www.w3schools.com/w3css/default.asp', title='W3.CSS', target='_blank') w3.css
    // End page content
